<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Gharnata | Details Client</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>
    .btn-inverse-primary {
      background-color: white !important;
      border: 1px solid #0d6efd !important;
      padding: 4px 8px;
      font-size: 0.85rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .btn-inverse-primary,
    .btn-inverse-primary i {
      color: #0d6efd !important;
    }

    .btn-inverse-primary:hover {
      background-color: #0d6efd !important;
    }

    .btn-inverse-primary:hover,
    .btn-inverse-primary:hover i {
      color: white !important;
    }

    .btn-inverse-primary i {
      font-size: 0.85rem;
    }
  </style>
  <!-- site icon -->
  <link rel="icon" href="/assets/images/logo/logo_icon.png" type="image/png" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <!-- site css -->
  <link rel="stylesheet" href="/assets/style.css" />
  <!-- responsive css -->
  <link rel="stylesheet" href="/assets/css/responsive.css" />
  <!-- color css -->
  <link rel="stylesheet" href="/assets/css/colors.css" />
  <!-- select bootstrap -->
  <link rel="stylesheet" href="/assets/css/bootstrap-select.css" />
  <!-- scrollbar css -->
  <link rel="stylesheet" href="/assets/css/perfect-scrollbar.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="/assets/css/custom.css" />
  <!-- calendar file css -->
  <link rel="stylesheet" href="/assets/js/semantic.min.css" />
  <!--[if lt IE 9]>
  <![endif]-->
</head>
<body class="inner_page invoice_page">
<div class="full_container">
  <div class="inner_container">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar_blog_1">
        <div class="sidebar-header">
          <div class="logo_section">
            <a th:href="@{/gharnata/}"><img class="logo_icon img-responsive" src="/assets/images/logo/logo_icon.png" alt="Carrelage Gharnata logo" /></a>
          </div>
        </div>
        <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" src="/images/profile.png" alt="user image" /></div>
            <div class="user_info">
              <h6 th:text="${#authentication.name}"></h6>
              <p><span class="online_animation"></span> Online</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar_blog_2">
        <ul class="list-unstyled components">
          <li class="active">
            <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cubes yellow_color"></i> <span>Produits</span></a>
            <ul class="collapse list-unstyled" id="dashboard">
              <li>
                <a th:href="@{/gharnata/show-products}"><i class="fa fa-cube yellow_color"></i> <span>Afficher les produits</span></a>
              </li>
              <li>
                <a th:href="@{/gharnata/add-product}"><i class="fa fa-plus yellow_color"></i> <span>Ajouter un Produit</span></a>
              </li>
              <li>
                <a th:href="@{/gharnata/modify-product}"><i class="fa fa-edit yellow_color"></i> <span>Modifier un Produit</span></a>
              </li>
            </ul>
          </li>
          <li><a th:href="@{/gharnata/show-commands}"><i class="fa fa-archive blue1_color"></i> <span>Commandes</span></a></li>
          <li><a th:href="@{/gharnata/list-clients}"><i class="fa fa-group purple_color2"></i> <span>Clients</span></a></li>
          <li><a th:href="@{/gharnata/pass-mass}"><i class="fa fa-bolt red_color"></i> <span>Produits en Masse</span></a></li>
          <li><a th:href="@{/gharnata/sim-fac}"><i class="fa fa-pencil green_color"></i> <span>Simuler  une facture</span></a></li>
          <li>
            <a href="#operations" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond orange_color"></i> <span>Opérations</span></a>
            <ul class="collapse list-unstyled" id="operations">
              <li><a href="#" data-toggle="modal" data-target="#addCat"><i class="fa fa-plus orange_color"></i> <span>Ajouter une Catégorie</span></a></li>
              <li><a href="#" data-toggle="modal" data-target="#loadProds"><i class="fa fa-download orange_color"></i> <span>Télécharger les Produits</span></a></li>
              <li><a th:href="@{/gharnata/show-products-stock}"><i class="fa fa-cubes orange_color"></i> <span>Liste des Produits</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end sidebar -->
    <!-- right content -->
    <div id="content">
      <!-- topbar -->
      <div class="topbar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="full">
            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
            <div class="logo_section">
              <a th:href="@{/gharnata/}"><img class="img-responsive" src="/assets/images/logo/logo.png" alt="Carrelage Gharnata logo" /></a>
            </div>
            <div class="right_topbar">
              <div class="icon_info">
                <ul>
                  <li><a th:href="@{/gharnata/notif-stock}"><i class="fa fa-bell-o"></i><span th:if="${notif !=0}" class="badge" th:text="${notif}"></span></a></li>
                </ul>
                <ul class="user_profile_dd">
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/images/profile.png" alt="user image" /><span class="name_user" th:text="${#authentication.name}"></span></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" th:href="@{/logout}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- end topbar -->
      <!-- dashboard inner -->
      <div class="midde_cont">
        <div class="container-fluid">
          <div class="row column_title">
            <div class="col-md-12">
              <div class="page_title">
                <h2 th:text="${'Détails du client n°'+ client.id}"></h2>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div th:if="${error}" class="alert alert-danger" role="alert" id="err">
              <p th:text="${error}"></p>
            </div>
            <div th:if="${success}" class="alert alert-success" role="alert" id="suc">
              <p th:text="${success}"></p>
            </div>
            <!-- invoice section -->
            <div class="col-md-12">
              <div class="white_shd full margin_bottom_30">
                <div class="full">
                  <div class="invoice_inner">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="full invoice_blog padding_infor_info padding-bottom_0">
                          <h4 th:text="${'STE : '+client.ste}"></h4>
                          <p th:if="${client.type=='societe'}">
                            <strong>I.C.E : </strong><span th:text="${client.ice}"></span>
                          </p>
                          <p th:if="${client.type=='personne'}">
                            <strong>C.I.N : </strong><span th:text="${client.ice}"></span>
                          </p>
                          <p>
                            <strong>Tél : </strong><a th:href="${'tel:'+ client.tel}"><span th:text="${client.tel}"></span></a><br>
                            <strong>Adresse : </strong><span th:text="${client.adresse}"></span><br>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="full invoice_blog padding_infor_info padding-bottom_0">
                          <h4 th:text="${'Crédit : '+client.getCompte().getCredit()+ ' dh'}"></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row column4 graph">
              <div class="col-md-6">
                <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                    <div class="heading1 margin_0">
                      <h2>Commandes récentes</h2>
                    </div>
                  </div>
                  <div class="full progress_bar_inner">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="msg_list_main">
                          <ul class="msg_list">
                            <th:block th:if="${commandes.isEmpty()}">
                              <li>
                                <span>
                                  <span class="name_user"> | Pas de commandes pour ce client</span>
                                  <span class="msg_user"></span>
                                  <span class="time_ago" >00/00/0000</span>
                                </span>
                              </li>
                            </th:block>
                            <th:block th:each="commande : ${commandes}">
                              <a th:href="@{/gharnata/command-details/{id}(id=${commande.id})}">
                                <li>
                                      <span>
                                        <span class="name_user" th:if="${commande.isPaye()}" th:text="${'id : '+commande.id+' ---> payée'}"></span>
                                        <span class="name_user" th:if="${!commande.isPaye()}" th:text="${'id : '+commande.id+' ---> crédit'}"></span>
                                        <span class="msg_user" th:text="${'Montant : '+ commande.montantHT + ' dh'}"></span>
                                        <span class="time_ago" th:text="${commande.date}"></span>
                                      </span>
                                </li>
                              </a>
                            </th:block>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right" style="height: auto; display: inline-block;">
                  <a th:href="@{/gharnata/commandes/{id}(id=${client.id})}">
                    <h5 style="color: dimgrey; margin: 0;">Voir tout</h5>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                    <div class="heading1 margin_0">
                      <h2>Paiements</h2>
                    </div>
                  </div>
                  <div class="full progress_bar_inner">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="msg_list_main">
                          <ul class="msg_list">
                            <th:block th:if="${payments.isEmpty()}">
                              <li>
                                <span>
                                  <span class="name_user"> | Pas de paiements pour ce client</span>
                                  <span class="msg_user"></span>
                                  <span class="time_ago" >00/00/0000</span>
                                </span>
                              </li>
                            </th:block>
                            <th:block th:each="payment : ${payments}">
                              <li>
                                <span>
                                  <span class="name_user" th:text="${payment.id+' | '+ payment.description}"></span>
                                  <span class="msg_user" th:text="${'montant : '+payment.montant + ' dh'}"></span>
                                  <span class="time_ago" >
                                    <span th:text="${payment.datePay}"></span>
                                    <span>
                                      <form method="post" th:action="@{/gharnata/telecharger-facture}">
                                        <input type="hidden" name="id" th:value="${payment.id}">
                                        <button type="submit" class="btn-inverse-primary" title="Télécharger la facture">
                                          <i class="fa fa-download"></i>
                                        </button>
                                        <input type="checkbox" name="tmp" id="tmp"/>
                                      </form>
                                    </span>
                                  </span>
                                </span>
                              </li>
                            </th:block>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="text-right">
                  <a th:href="@{/gharnata/paiements/{id}(id=${client.id})}"><h5 style="color: dimgrey;">Voir tout</h5></a>
                </div>-->
                <div class="text-right" style="height: auto; display: inline-block;">
                  <a th:href="@{/gharnata/paiements/{id}(id=${client.id})}">
                    <h5 style="color: dimgrey; margin: 0;">Voir tout</h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="container-fluid">
          <div class="footer">
            <p>Copyright © 2023 Carrelage Gharnata.</p>
          </div>
        </div>
      </div>
      <!-- end dashboard inner -->
    </div>
    <div class="modal fade" id="payModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Introduire un paiement</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <form method="post" role="form" th:action="@{/gharnata/payment}">
            <div class="modal-body">
              <input type="hidden" name="idC" th:value="${client.id}">
              <label for="montant">Montant</label>
              <div class="form-group">
                <input type="number" class="form-control" id="montant" placeholder="Montant..." name="montant" required>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" ><i class="fa fa-dollar"></i> Introduire</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- The Modal 1-->
    <div class="modal fade" id="addCat">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ajouter une nouvelle Catégorie</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <form method="post" role="form" th:action="@{/gharnata/add-categorie}">
            <div class="modal-body">
              <div class="form-group">
                <input type="text" class="form-control" id="cat" placeholder="Catégorie..." name="cat" required>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" ><i class="fa fa-plus"></i> Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end model popup -->
    <!-- The Modal 2-->
    <div class="modal fade" id="loadProds">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Télécharger Liste des Produits</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <form method="post" role="form" th:action="@{/gharnata/load-prods}">
            <div class="modal-body">
              <div class="form-group">
                <label for="idCat">Catégorie :</label>
                <select class="form-control" name="idCat" id="idCat"  required>
                  <option value="0">Tous les catégories</option>
                  <th:block th:each="cat : ${cats}">
                    <option th:value="${cat.id}" th:text="${cat.lib}"></option>
                  </th:block>
                </select><br>
                <table width="50%">
                  <tr>
                    <td>
                      <div class="form-group">
                        <label><input type="checkbox" id="qt" name="qt" checked>  Qte</label>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <label><input type="checkbox" id="pr" name="pr" checked> Prix</label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" ><i class="fa fa-download"></i> Telecharger</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end model popup -->
  </div>
</div>
<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/assets/js/animate.js"></script>
<!-- select country -->
<script src="/assets/js/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/assets/js/owl.carousel.js"></script>
<!-- chart js -->
<script src="/assets/js/Chart.min.js"></script>
<script src="/assets/js/Chart.bundle.min.js"></script>
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/assets/js/perfect-scrollbar.min.js"></script>
<script>
  var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- fancy box js -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery.fancybox.min.js"></script>
<!-- custom js -->
<script src="/assets/js/custom.js"></script>
<!-- calendar file css -->
<script src="/assets/js/semantic.min.js"></script>
</body>
</html>